<div class = "box">

  <div class="panel panel-default">

    <div class = "panel-body">
      <%= link_to image_tag(gallery_card.default_image.file.url(:medium)), gallery_card %><br/>
      <strong><%= gallery_card.description %><br/></strong>
      <em><%= gallery_card.name if gallery_card.name %><br/></em>

    </div>


    <div class = "panel panel-footer">
      <%= link_to 'Edit', edit_gallery_path(gallery_card) %>
      <%= link_to 'Destroy', gallery_card, method: :delete, data: { confirm: 'Are you sure?' } %> <br/>
    </div>

  </div>
