<div class = "box">

  <div class="thumbnail">

    <div class = "panel-body">
      <%= link_to image_tag(gallery_card.default_image.file.url(:medium),
                            :class => "img-responsive"), gallery_card %><br/>

                            <strong><%= gallery_card.description %><br/></strong>
                            <em><%= gallery_card.name if gallery_card.name %><br/></em>
    </div>

    <div class="btn-group btn-group-justified" >
      <div class = "btn-group">
        <%= link_to 'Edit', edit_gallery_path(gallery_card), :class => "btn btn-info active" %>
      </div>


      <div class = "btn-group">
        <%= link_to 'Destroy', gallery_card, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %> <br/>
      </div>


    </div>
  </div>
</div>
